<button
  type="button"
  class="fixed bottom-5 right-5 inline-block rounded-full bg-blue-500 p-4 uppercase leading-normal text-white transition duration-150 ease-in-out"
  (click)="scrollToTop()"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor"
    stroke-width="2.5"
    stroke="currentColor"
    class="h-4 w-4"
  >
    <path
      fill-rule="evenodd"
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75"
      clip-rule="evenodd"
    />
  </svg>
</button>
