<!-- <nav class="bg-gray-900">
  <div class="flex items-center justify-between p-5">
    <p class="md:text-xl font-bold text-xs cursor-pointer">
      &lt; DevelopedByDude /&gt;
    </p>

    <div class="flex items-center">
      <p
        class="mr-5 py-2 px-4 font-bold md:text-sm text-xs hover:scale-110 transition ease-in-out cursor-pointer"
        [routerLink]="['/blogs']"
        routerLinkActive="router-link-active"
      >
        < blogs />
      </p>

      <p
        class="mr-5 py-2 px-4 font-bold md:text-sm text-xs hover:scale-110 transition ease-in-out cursor-pointer"
        [routerLink]="['/add']"
        routerLinkActive="router-link-active"
        *ngIf="uid"
      >
        < add articles />
      </p>
    </div>

    <div class="flex item-center justify-center">
      <a href="../../../assets/resume.pdf" download class="mr-5">
        <button
          class="bg-blue-500 py-2 px-4 rounded-lg hover:scale-110 transition ease-in-out md:text-sm text-xs"
        >
          Download CV
        </button>
      </a>

      <a
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
        *ngIf="!uid"
      >
        <button
          type="button"
          class="bg-gray-900 py-2 px-4 rounded-lg hover:scale-110 transition ease-in-out md:text-sm text-xs"
        >
          Login
        </button>
      </a>

      <app-avatar *ngIf="uid"></app-avatar>
    </div>
  </div>
</nav> -->

<nav class="bg-gray-900">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <p
      class="md:text-xl font-bold text-xs cursor-pointer"
      [routerLink]="['']"
      routerLinkActive="router-link-active"
    >
      &lt; DevelopedByDude /&gt;
    </p>

    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div class="flex item-center justify-center">
        <a href="../../../assets/resume.pdf" download class="mr-3 md:mt-0 mt-1">
          <button
            class="bg-blue-500 py-2 px-4 rounded-lg hover:scale-110 transition ease-in-out md:text-sm text-xs"
            id="download"
          >
            Download CV
          </button>
        </a>

        <a
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
          *ngIf="!uid"
          id="login"
        >
          <button
            type="button"
            class="bg-gray-900 py-2 px-4 rounded-lg hover:scale-110 transition ease-in-out md:text-sm text-xs"
          >
            Login
          </button>
        </a>

        <app-avatar *ngIf="uid"></app-avatar>
      </div>
      <button
        data-collapse-toggle="navbar-cta"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-cta"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-cta"
    >
      <div class="flex md:flex-row flex-col md:items-center items-end">
        <p
          class="mr-5 py-2 px-4 font-bold md:text-sm text-xs hover:scale-110 transition ease-in-out cursor-pointer"
          [routerLink]="['/blogs']"
          routerLinkActive="router-link-active"
        >
          < blogs />
        </p>

        <p
          class="mr-5 py-2 px-4 font-bold md:text-sm text-xs hover:scale-110 transition ease-in-out cursor-pointer"
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
          *ngIf="!uid && deviceType === 'mobile'"
        >
          < login />
        </p>

        <p
          class="mr-5 py-2 px-4 font-bold md:text-sm text-xs hover:scale-110 transition ease-in-out cursor-pointer"
          [routerLink]="['/add']"
          routerLinkActive="router-link-active"
          *ngIf="uid"
        >
          < add articles />
        </p>

        <a
          href="../../../assets/resume.pdf"
          download
          class="mr-3 md:mt-0 mt-1"
          *ngIf="deviceType === 'mobile'"
        >
          <button
            class="bg-blue-500 py-2 px-4 rounded-lg hover:scale-110 transition ease-in-out md:text-sm text-xs"
          >
            Download CV
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>
